:root {
    --primary-color: #0b4f6c;
    /* dark blue */
    --secondary-color: #01baef;
    /* light blue */
    --accent1-color: #fbfbff;
    /* white */
    --accent2-color: #1b4965;
    /* green */
    --heading-font: "Georgia", serif;
    --body-font: "Arial", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
    background-color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    background-color: var(--secondary-color);
    padding: 10px;
}

footer {
    background-color: var(--accent2-color);
    color: var(--accent-color);
    text-align: center;
    padding: 16px
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    margin-bottom: 40px;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;

    background-color: var(--accent1-color);
    width: 80%;
    padding: 16px;
}

.hero article img {
    float: right;
    width: 125px;
}